/*======== BANNER ========*/

.banner {
  width: 100%;
  height: 450px;
  background-image: url(../img/3mountains.jpg);
  background-size: cover;
  color: #eee;
}

.banner-title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.banner .container {
  height: 100%;
}

.banner h1 {
  margin: 0;
}

/*======== SECTION ========*/

.work {
  padding: 60px 0;
  border-top: 1px solid #ddd;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.work:hover {
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 -14px 28px rgba(0,0,0,0.05); */
}

.work .image-container {
  width: 60%;
}

.work .content {
  width: 40%;
}

.work.swissclinic .image-container {
  float: left;
}

.work.swissclinic .content {
  float: right;
}

.work.navision .image-container {
  float: right;
}

.work.navision .content {
  float: left;
}

.work-title {
  margin-top: 0px;
}

@media screen and (max-width: 768px) { 
  .work .content {
    float: unset;
    width: unset;
    text-align: center;
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) { 
  .work .image-container {
    float: none;
    width: unset;
  }
}

/*======== MODAL ========*/

.modal-window {
  width: 100%;
  height: 400px;
  background-color: aquamarine;
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modalbox {
  height: 300px;
  width: 500px;
  background-color: #eee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mybtn {
  position: relative;
}


.topbtn {
  position: fixed;
  bottom: 80px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
  border-radius: 25px;
  
}

/*======== FOOTER ========*/

.footer {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size: .875rem;
  margin-top: 20px;
  background: rgb(224,224,224);
  background: linear-gradient(0deg, rgba(224,224,224,1) 0%, rgba(255,255,255,1) 100%);
}

.footer .author {
  color: #001f3f;
  font-weight: bold;
}